<tr>
  <td class="value_center"><input type="button" class="btn_<<ABLE>>" onClick="dgpAbleVsv('<<IPADDRESS>>', '<<PORT>>', '<<PROTOCOL>>', '<<ACT>>')"></td>
  <td class="value"><<IPADDRESS>></td>
  <td class="value_center"><<PORT>>/<<PROTOCOL_NAME>></td>
  <td class="value_center"><input type="button" class="list_mod_btn" onClick="dgpGoVsconf('<<IPADDRESS>>', '<<PORT>>', '<<PROTOCOL>>')"></td>
  <td class="value_center"><input type="button" class="list_mod_btn" onClick="dgpGoRslist('<<IPADDRESS>>', '<<PORT>>', '<<PROTOCOL>>')"></td>
  <td class="value_center"><input type="button" class="list_del_btn" value="" onClick="dgpDeleteVsv('<<IPADDRESS>>', '<<PORT>>', '<<PROTOCOL>>')"></td>
</tr>

