<tr>
  <td class="value_center"><input type="button" class="btn_<<RSABLE>>" onClick="dgpAbleRsv('<<RSIPADDRESS>>','<<RSPORT>>','<<RSACT>>')"></td>
  <td class="value"><<RSIPADDRESS>></td>
  <td class="value_center"><<RSPORT>></td>
  <td class="value_center"><input type="button" class="list_mod_btn" onClick="dgpGoRsvconf('<<IPADDRESS>>','<<PORT>>','<<PROTOCOL>>','<<RSIPADDRESS>>','<<RSPORT>>')"></td>
  <td class="value_center"><input type="button" class="list_del_btn" value="" onClick="dgpDeleteRsv('<<RSIPADDRESS>>','<<RSPORT>>')"></td>
</tr>

